In [201]:
# In this assignment, students will be using the K-nearest neighbors algorithm to predict
# how many points NBA players scored in the 2013-2014 season.

In [202]:
import pandas as pd

NBA_Data_Set =  pd.read_csv("nba_2013.csv")

In [203]:
NBA_Data_Set.columns

Index(['player', 'pos', 'age', 'bref_team_id', 'g', 'gs', 'mp', 'fg', 'fga',
       'fg.', 'x3p', 'x3pa', 'x3p.', 'x2p', 'x2pa', 'x2p.', 'efg.', 'ft',
       'fta', 'ft.', 'orb', 'drb', 'trb', 'ast', 'stl', 'blk', 'tov', 'pf',
       'pts', 'season', 'season_end'],
      dtype='object')

In [204]:
NBA_Data_Set.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 481 entries, 0 to 480
Data columns (total 31 columns):
player          481 non-null object
pos             481 non-null object
age             481 non-null int64
bref_team_id    481 non-null object
g               481 non-null int64
gs              481 non-null int64
mp              481 non-null int64
fg              481 non-null int64
fga             481 non-null int64
fg.             479 non-null float64
x3p             481 non-null int64
x3pa            481 non-null int64
x3p.            414 non-null float64
x2p             481 non-null int64
x2pa            481 non-null int64
x2p.            478 non-null float64
efg.            479 non-null float64
ft              481 non-null int64
fta             481 non-null int64
ft.             461 non-null float64
orb             481 non-null int64
drb             481 non-null int64
trb             481 non-null int64
ast             481 non-null int64
stl             481 non-null int64
blk             481 non-null int64
tov             481 non-null int64
pf              481 non-null int64
pts             481 non-null int64
season          481 non-null object
season_end      481 non-null int64
dtypes: float64(5), int64(22), object(4)
memory usage: 116.6+ KB

In [205]:
NBA_Data_Set.head()

,player,pos,age,bref_team_id,g,gs,mp,fg,fga,fg.,...,drb,trb,ast,stl,blk,tov,pf,pts,season,season_end
0,Quincy Acy,SF,23,TOT,63,0,847,66,141,0.468,...,144,216,28,23,26,30,122,171,2013-2014,2013
1,Steven Adams,C,20,OKC,81,20,1197,93,185,0.503,...,190,332,43,40,57,71,203,265,2013-2014,2013
2,Jeff Adrien,PF,27,TOT,53,12,961,143,275,0.520,...,204,306,38,24,36,39,108,362,2013-2014,2013
3,Arron Afflalo,SG,28,ORL,73,73,2552,464,1011,0.459,...,230,262,248,35,3,146,136,1330,2013-2014,2013
4,Alexis Ajinca,C,25,NOP,56,30,951,136,249,0.546,...,183,277,40,23,46,63,187,328,2013-2014,2013

In [206]:
# "Position (pos)" is the class attribute we are predicting. 
class_column = 'pos'

In [207]:
feature_columns = ['g', 'gs', 'mp', 'fg', 'fga',
       'fg.', 'x3p', 'x3pa', 'x3p.', 'x2p', 'x2pa', 'x2p.', 'efg.', 'ft',
       'fta', 'ft.', 'orb', 'drb', 'trb', 'ast', 'stl', 'blk', 'tov', 'pf','pts']

In [208]:
from sklearn.utils import shuffle
NBA_Data_Set =  shuffle(NBA_Data_Set)

In [209]:
NBA_Data_Set["pos"] = NBA_Data_Set.pos.str.get_dummies()
NBA_Data_Set.head()

,player,pos,age,bref_team_id,g,gs,mp,fg,fga,fg.,...,drb,trb,ast,stl,blk,tov,pf,pts,season,season_end
415,Tyshawn Taylor,0,23,BRK,23,3,270,31,91,0.341,...,12,15,36,12,1,31,29,89,2013-2014,2013
374,Rajon Rondo,0,27,BOS,30,30,998,141,350,0.403,...,142,164,294,40,2,99,65,350,2013-2014,2013
398,Greg Smith,1,23,HOU,11,0,100,18,28,0.643,...,16,27,0,1,2,5,17,38,2013-2014,2013
185,James Harden,0,24,HOU,73,73,2777,549,1205,0.456,...,283,344,446,115,29,265,177,1851,2013-2014,2013
1,Steven Adams,1,20,OKC,81,20,1197,93,185,0.503,...,190,332,43,40,57,71,203,265,2013-2014,2013

In [210]:
NBA_Data_Set.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 481 entries, 415 to 168
Data columns (total 31 columns):
player          481 non-null object
pos             481 non-null int64
age             481 non-null int64
bref_team_id    481 non-null object
g               481 non-null int64
gs              481 non-null int64
mp              481 non-null int64
fg              481 non-null int64
fga             481 non-null int64
fg.             479 non-null float64
x3p             481 non-null int64
x3pa            481 non-null int64
x3p.            414 non-null float64
x2p             481 non-null int64
x2pa            481 non-null int64
x2p.            478 non-null float64
efg.            479 non-null float64
ft              481 non-null int64
fta             481 non-null int64
ft.             461 non-null float64
orb             481 non-null int64
drb             481 non-null int64
trb             481 non-null int64
ast             481 non-null int64
stl             481 non-null int64
blk             481 non-null int64
tov             481 non-null int64
pf              481 non-null int64
pts             481 non-null int64
season          481 non-null object
season_end      481 non-null int64
dtypes: float64(5), int64(23), object(3)
memory usage: 120.2+ KB

In [211]:
NBA_Data_Set["x3p."].head()

415    0.250000
374    0.288889
398         NaN
185    0.366460
1           NaN
Name: x3p., dtype: float64

In [212]:
NBA_Data_Set.isnull().sum()

player           0
pos              0
age              0
bref_team_id     0
g                0
gs               0
mp               0
fg               0
fga              0
fg.              2
x3p              0
x3pa             0
x3p.            67
x2p              0
x2pa             0
x2p.             3
efg.             2
ft               0
fta              0
ft.             20
orb              0
drb              0
trb              0
ast              0
stl              0
blk              0
tov              0
pf               0
pts              0
season           0
season_end       0
dtype: int64

In [213]:
NBA_Data_Set["x3p."] = NBA_Data_Set["x3p."].fillna(method='backfill')
NBA_Data_Set["ft."] = NBA_Data_Set["ft."].fillna(method='backfill')
NBA_Data_Set["efg."] = NBA_Data_Set["efg."].fillna(method='backfill')
NBA_Data_Set["x2p."] = NBA_Data_Set["x2p."].fillna(method='backfill')
NBA_Data_Set["fg."] = NBA_Data_Set["fg."].fillna(method='backfill')

In [214]:
NBA_Data_Set.isnull().sum()

player          0
pos             0
age             0
bref_team_id    0
g               0
gs              0
mp              0
fg              0
fga             0
fg.             0
x3p             0
x3pa            0
x3p.            0
x2p             0
x2pa            0
x2p.            0
efg.            0
ft              0
fta             0
ft.             0
orb             0
drb             0
trb             0
ast             0
stl             0
blk             0
tov             0
pf              0
pts             0
season          0
season_end      0
dtype: int64

In [215]:
nba_feature = NBA_Data_Set[feature_columns]
nba_target = NBA_Data_Set[class_column]

In [216]:
nba_feature.isnull().sum()

g       0
gs      0
mp      0
fg      0
fga     0
fg.     0
x3p     0
x3pa    0
x3p.    0
x2p     0
x2pa    0
x2p.    0
efg.    0
ft      0
fta     0
ft.     0
orb     0
drb     0
trb     0
ast     0
stl     0
blk     0
tov     0
pf      0
pts     0
dtype: int64

In [217]:
nba_target.isnull().sum()

0

In [218]:
nba_feature.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 481 entries, 415 to 168
Data columns (total 25 columns):
g       481 non-null int64
gs      481 non-null int64
mp      481 non-null int64
fg      481 non-null int64
fga     481 non-null int64
fg.     481 non-null float64
x3p     481 non-null int64
x3pa    481 non-null int64
x3p.    481 non-null float64
x2p     481 non-null int64
x2pa    481 non-null int64
x2p.    481 non-null float64
efg.    481 non-null float64
ft      481 non-null int64
fta     481 non-null int64
ft.     481 non-null float64
orb     481 non-null int64
drb     481 non-null int64
trb     481 non-null int64
ast     481 non-null int64
stl     481 non-null int64
blk     481 non-null int64
tov     481 non-null int64
pf      481 non-null int64
pts     481 non-null int64
dtypes: float64(5), int64(20)
memory usage: 97.7 KB

In [219]:
len(nba_target)

481

In [220]:
# normalizing the values in the feature columns.

# When values are scaled between 0 to 1, all of the selected features contribute equally to distance computation
from sklearn import preprocessing
normalized_nba_feature = preprocessing.normalize(nba_feature)

In [221]:
from sklearn.model_selection import train_test_split

train_feature, test_feature, train_class, test_class = train_test_split(normalized_nba_feature, nba_target,
                                                                        train_size=0.75, test_size=0.25) #75/25 data split

In [222]:
from sklearn.neighbors import KNeighborsClassifier
training_accuracy = []
test_accuracy = []

knn = KNeighborsClassifier(n_neighbors=7, weights='distance',  metric='minkowski', p=1)

knn.fit(train_feature, train_class)

prediction = knn.predict(test_feature)

In [223]:
print("Test set accuracy: {:.2f}".format(knn.score(test_feature, test_class)))

print("Confusion matrix:")

print(pd.crosstab(test_class, prediction, rownames=['True'], colnames=['Predicted'], margins=True))

Test set accuracy: 0.83
Confusion matrix:
Predicted    0   1  All
True
0           91   7   98
1           13  10   23
All        104  17  121

In [224]:
from sklearn.model_selection import cross_val_score
scores = cross_val_score(knn, normalized_nba_feature, nba_target, cv=10) #cv=10 for 10 folds

print("Cross-validation scores for each folds: {}".format(scores))

print("Average cross-validation score: {:.2f}".format(scores.mean()))

Cross-validation scores for each folds: [0.83673469 0.91666667 0.875      0.875      0.75       0.85416667
 0.83333333 0.83333333 0.89583333 0.85416667]
Average cross-validation score: 0.85